.center {
  text-align: center;
}

.input-extend {
  border: none;
  width: 100%;
  border-bottom: 1px solid #d2d2d2;
  padding: 6px 6px 6px 0;
}

.otp-wrapper {
  position: absolute;
  top: 70px;
  left: 0;
  padding: 20px;
  z-index: 3;
  background: #81989c;
  height: 100%;
}

.otp-container {
  background: white;
  padding: 20px;
  margin-top: 60px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px #95b9bf;
  position: relative;
}

.dis-none {
  display: none;
}

.close-otp.tiny {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: #E94F4F;
  border-color: #E94F4F;
}

.token-block {
  display: flex;
}

.token-block input {
  flex: 4;
  font-size: 12px;
  padding-right: 0;
}

.token-block button {
  flex: 1;
}

.customLoader {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.customLoader div {
  border-radius: 50%;
  border: 5px solid #00b9f5;
  border-top: 5px solid #f3f3f3;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.radio-recharge:checked~.radio-label {
  font-weight: bold;
}

.radio-label {
  margin-left: 36px;
  margin-top: 6px;
  display: inline-block;
}

.login-container select {
  width: 100%;
  padding: 10px 4px;
  margin: 2px 0;
  border-color: #d2d2d2;
  border-radius: 4px;
}